<script id="remindItemTpl" type="text/html">
<ul class="mailListCon clearfix">
	<li rid="1">
		<div class="mailListConBox clearfix">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_01.jpg" alt="待办事项" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_list">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="2">
		<div class="mailListConBox clearfix">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_02.jpg" alt="日历提醒" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_list">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="3">
		<div class="mailListConBox clearfix">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_03.jpg" alt="活动邀请" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_list">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="4">
		<div class="mailListConBox clearfix">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_04.jpg" alt="日历共享" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_listOne">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="5">
		<div class="mailListConBox clearfix">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_05.jpg" alt="生日提醒" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_listTwo">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="6">
		<div class="mailListConBox clearfix" style="cursor:pointer;">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_06.jpg" alt="云邮局" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_listOne">
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li rid="7">
		<div class="mailListConBox clearfix" style="cursor:pointer;">
			<a href="javascript:;" class="mailListConBox_img"><img src="/m2012/images/module/welcome/img_07.jpg" alt="暂存柜" /></a>
			<div class="mailListConBox_info clearfix">
				<div class="mailListConBox_infoLeft">
					<ul class="mailListConBox_listTwo">
					</ul>
				</div>
			</div>
		</div>
	</li>
</ul>
</script>
